name: .NET Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        working-directory: MVC/Ecommerce/TechnoPro
        run: dotnet restore

      - name: Build
        working-directory: MVC/Ecommerce/TechnoPro
        run: dotnet build --no-restore --configuration Release

      - name: Test
        working-directory: MVC/Ecommerce/TechnoPro
        run: dotnet test --no-build --configuration Release --verbosity normal
